html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {

  --background: 0 0% 91%;    /* #E8E8E8 */
  --foreground: 0 0% 7%;     /* #111111 */
  --primary: 265 89% 59%;    /* #953BF4 */
  --secondary: 47 93% 61%;   /* #F9D641 */
  --accent: 274 91% 27%;     /* #3E0489 */

  --primary-foreground: var(--background);
  --secondary-foreground: var(--foreground);
  --accent-foreground: var(--background);

  --border: 0 0% 7%;
  --input: var(--background);
  --ring: var(--primary);
  --radius: 1rem;
}

.dark {

  --background: 0 0% 7%;     /* #111111 */
  --foreground: 0 0% 91%;    /* #E8E8E8 */
  --primary: 265 89% 59%;
  --secondary: 47 93% 61%;
  --accent: 274 91% 27%;
  --border: 0 0% 91%;
  --primary-foreground: var(--foreground);
  --secondary-foreground: var(--background);
  --accent-foreground: var(--foreground);
}