.mainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  padding: 1rem 1.5rem; 
}

.backgroundGradient {
  background: linear-gradient(
    to bottom,
    hsl(var(--primary)),
    hsl(var(--secondary))
  );
}

.title {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.title span {
  color: hsl(var(--accent));
}

.buttonWidth {
  width: 100%;
  max-width: 300px;
  display: flex; 
}

/* Media Query para tabletas y superiores */
@media (min-width: 640px) {
  .mainContainer {
    padding: 1.5rem 3rem;
  }
  .title {
    font-size: 3rem;
  }
}
